*{
    box-sizing: border-box;
}


.container {
  padding: 30px;
  border: 1px solid #000;
}

.parent {
  border: 1px solid #000;
  padding: 20px;
  position: relative;
}

.item.red {
  width: 120px;
  height: 120px;
  background-color: red;
}
.item.green {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: green;
  opacity: 0.5;
  top: 0;
  left: 0;
}
.item.blue {
  width: 40px;
  height: 40px;
  background-color: blue;
}
